@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    text-align: center;
    background-image: url("images/disque-vinyl-fond-noir.jpg");
    color: #fdc029;
}

.form {
    padding-bottom: 1rem;
}

.container { 
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
}

.results {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-content: space-between;
}

.track-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.track-info {
    text-align: start;
    padding-left: 0.7rem;
    padding-bottom: 0.3rem;
    color:#f50;
}

button {
    background-color: #fdc029;
    cursor: pointer;
    padding: 0.25em 0.75em;
    border-radius: 0.4em;
}

.inputs label {
    display: block;
    margin-bottom: 0.8rem;
}

@media all and (max-width: 580px) {
    .track-info {
        text-align: center;
    }
}

@media all and (max-width: 490px) {
    .inputs {
        display: block;
    }

    #genres {
        margin-bottom: 0.8rem;
    }
}